/* ==UserStyle==
@name           Misskey UI Adjustment
@namespace      https://github.com/robflop/misskey-userstyle
@version        1.0.3
@description    Utilizes more of your screen space on Misskey when using 1920x1080. Made for personal usage, manual adjustment required.
@author         robflop
==/UserStyle== */
@-moz-document domain("misskey.io") {
	html {
		font-family: Roboto,HelveticaNeue,Arial,sans-serif;
	}
	
	.mk-app > .widgets > div {
		/* Make the widget container display widgets side-by-side (you will need to adjust these values for your own usage) */
		display: inline-flex;
		flex: 1;
		flex-wrap: wrap;
		flex-direction: column;
		place-content: flex-start;
		width: 620px !important;
		height: 950px;
		padding-top: 155px;
	}

	.mk-app > .widgets > div > * {
		/* Sets the margins for all widgets so they position next to each other nicely */
		margin: 0 var(--margin) var(--margin) 0 !important;
	}
	
	.mk-app > .contents ._section > ._content,
	.mk-app > .contents ._section > ._title {
		/* Make the timeline utilize more of the screen space on the left and right */
		max-width: none;
	}
}
